{% extends 'blog/base.html' %}

{% block title %}KU Leuven wie-is-wie{% endblock %}

{% block content %}

{% if person %}

	{{ person.items }}

	<h2>{{person.preferredName}} {{person.surname}}
		{% if person.firstName %}
			({{person.firstName}})
		{% endif %}
	</h2>
	<p>{{ person.nr }}</p>
	{% if person.mobilePhone %}
		<p>{{ person.gender }}</p>
	{% endif %}
    
{% endif %}

{% if addresses %}
	
<!--{{ addresses }}-->
<div class="row">
{% for address in addresses %}
	<div class="col-xs-12 col-md-4">
	<div class="card card-gray card-block address">
	{{ address.buildingDescription }} - {{ address.buildingNumber }}
	{{ address.street }} {{ address.houseNr }}
	{% if address.postBox %}
		- bus {{address.postBox}}
	<br />
	{% endif %}
	{{ address.postalCode }} {{ address.city }}
	</div>
	</div>
{% endfor %}
</div>
    
{% endif %}


<!--{% for key, values in person.items %}
<p>{{values}}</p>
{% endfor %}-->

{% endblock %}